/* CSS for all sections */
.sectionBulk{
    background-color: rgb(148, 155, 148);
    width: 300px;
    height: 250px;

}

section {
    display: inline-block;
    float: left;
    margin-top: 1%;
    margin-left: 10%;
}

section p {
    display: inline-block;
    margin-left: 1%;
}

section h1, h2 {
    text-align: center;
}

/* For features */
#feat p {
    font-size: 14px;
    margin-top: 1px;
}

/* Computer view */
#computerBuy{
    width: 1000px;
    height: auto;
}

#computerBuy img {
    float: right;
    margin: 1%;
    width: 400px;
    height: auto;
}

input {
    width: 100px;
    height: 50px;
    margin-left: 1%;
}

#combuyArt{
    margin-left: 1%;
}